/lad1 bai1/nbproject/private/
/lad1 bai1/build/
/lad 1 bai 2/nbproject/private/
/lad 1 bai 2/build/
/lad 1 bai 3/nbproject/private/
/lad 1 bai 3/build/
/lad 1 bai 4/nbproject/private/
/lad 1 bai 4/build/
/lad 2 bai 2/nbproject/private/
/lad 2 bai 2/build/
/lad2 bai02/nbproject/private/
/lad2 bai02/build/
/lad2bai3/nbproject/private/
/lad2bai3/build/
/lad2bai4/nbproject/private/
/lad2bai4/build/
/lad3 bai 1/nbproject/private/
/lad3 bai 1/build/
/lad3 -1/nbproject/private/
/lad3 -1/build/
/lad3 bai 2/nbproject/private/
/lad3 bai 2/build/
/lad3bai3/nbproject/private/
/lad3bai3/build/
